<div class="rounded-xl mr-2 ml-2 pt-0">
  <div
    (scroll)="onScroll($event)"
    class="overflow-y-auto"
    style="height: calc(100vh - 17rem)"
  >
    <table
      data-cy="cy-table-products"
      class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg ml-2 mr-2"
    >
      <thead class="text-white">
        <tr
          class="bg-gray-700 border-white flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0"
          *ngFor="let row of dataSource.data"
        >
          <th class="sm:border sm:border-white p-1 text-left">#</th>
          <th
            class="sm:border sm:border-white p-1 text-left"
            *ngFor="let header of dataSource.headers"
          >
            {{ header }}
          </th>
          <th
            class="sm:border sm:border-white p-1 text-left"
            width="110px"
          >
            actions
          </th>
        </tr>
      </thead>
      <tbody class="flex-1 sm:flex-none bg-gray-200">
        <ng-container *ngIf="paginate.itemsPerPageCount > 0; else noData">
          <tr
            class="border border-gray-400 flex flex-col flex-no wrap sm:table-row rounded-lg mb-2 sm:mb-0"
            *ngFor="let row of dataSource.data; index as index"
          >
            <td class="border border-gray-400 hover:bg-gray-100 p-1">
              {{ index + 1 + ((paginate.render_only_totalElements)? (paginate.currentPage - 1) * paginate.itemsPerPage : 0) }}
            </td>
            <td
              class="border border-gray-400 hover:bg-gray-100 p-1 truncate"
              *ngFor="let header of dataSource.headers"
            >
              {{ row[header] }}
            </td>
            <td class="border border-gray-400 hover:bg-gray-100 p-1">
              <button
                class="cursor-pointer m-auto rounded-xl border pr-2 pl-2 border-blue-600 text-blue-600 text-sm font-semibold shadow-sm"
                data-cy="cy-button-action"
                [name]="row['name'] | replace : ' ' : '-'"
                (click)="emittEventClickAction(row, 'view')"
              >
                <p class="">Edit</p>
                <i class="hidden fas fa-pen text-blue-500"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr class="border border-gray-400 flex flex-col flex-no wrap sm:table-row rounded-lg mb-2 sm:mb-0">
            <td
              [colSpan]="dataSource.headers.length + 2"
              class="text-xl text-center py-4 w-full border-4 border-gray-400 bg-gray-100 rounded-xl"
            >
              <div class="">No data found...</div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <app-paginate
    [currentPage]="paginate.currentPage"
    [itemsPerPage]="paginate.itemsPerPage"
    [totalItems]="paginate.totalItems"
    [totalPages]="paginate.totalPages"
    [itemsPerPageCount]="paginate.itemsPerPageCount"
    [render_only_totalElements]="paginate.render_only_totalElements"
    (changePage)="onPaginateChange($event)"
    (next)="onPaginateChange($event)"
    (previous)="onPaginateChange($event)"
    (perPage)="onPerPageChange($event)"
  ></app-paginate>
</div>
<div class="mb-4"></div>