<div class="mb-4 p-4 flex items-center justify-between ">
  <h1 class="text-2xl font-bold">Lista de Productos</h1>
  <div class="flex items-center">
    <input (ngModelChange)="searchEvent($event)" [ngModel]="search" type="text" placeholder="Buscar..." 
    class="border border-gray-400 rounded-xl px-2 py-2 focus:outline-none focus:border-blue-500 mr-6"/>
    <button (click)="showModal()" class="bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
      Agregar
    </button>
  </div>
</div>

<app-table
  *ngIf="!loaddata" 
  [currentPage]="paginate.current"
  [itemsPerPage]="paginate.perPage" 
  [dataSource]="datasource"
  (emitterRowAction)="showModal($event.rowSelected)"
></app-table>

<app-paginate 
  *ngIf="!loaddata"
  [current]="paginate.current" 
  [itemsPerPage]="paginate.perPage" 
  [resultsCount]="paginate.resultsCount"
  [total]="paginate.countPages" 
  (changePage)="pageChangeEmitter($event)" 
  (next)="pageChangeEmitter($event)" 
  (previous)="pageChangeEmitter($event)"
  (perPage)="perPageChangeEmitter($event)"
></app-paginate>
