<div class="mb-4 p-4 pt-6 flex items-center justify-between">
  <h1 class="hidden md:flex text-2xl font-bold">Lista de Productos</h1>
  <div class="flex items-center">
    <input
      (input)="onSearchChange($event)"
      type="text"
      placeholder="Buscar..."
      class="border border-gray-400 rounded-xl px-2 py-2 focus:outline-none focus:border-blue-500 mr-6"
      data-cy="cy-product-search"
    />
    <button
      (click)="showModal()"
      class="bg-blue-500 text-white px-4 py-2 rounded-xl hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
      data-cy="cy-product-add"
    >
      <p class="hidden md:flex">Agregar</p>
      <i class="fas fa-plus-circle md:hidden"></i>
    </button>
  </div>
</div>

<app-table
  [dataSource]="datasource"
  [paginate]="paginate"
  [loaddata]="loaddata"
  (emitterRowAction)="showModal($event.rowSelected)"
  (emitterPaginateChage)="pageChangeEmitter($event)"
  (emitterPerPageChage)="perPageChangeEmitter($event)"
></app-table>
